<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>Role</th>
    </tr>
    <tr ng-repeat="employment in employments track by $index">
        
        <td ng-show="!employment.isEdit">{{employment.name}} </td>
        <td ng-show="!employment.isEdit">{{employment.role}} </td>

        <td ng-show="employment.isEdit">
            <form novalidate>
                <formly-form model="employeselected" fields="template" form="vm.rentalForm">
                    <button type="submit" class="btn btn-primary" ng-disabled="vm.rentalForm.$invalid"
                    ng-click="save({param: employment.id})">Save</button>
                </formly-form>
            </form>

        </td>

        <td ng-show="!employment.isEdit">
            <button type="button" class="btn btn-primary" ng-show="!employment.isEdit"  ng-click="edit({param: employment.id})">Edit</button>
        </td>
        
        <td ng-show="!employment.isEdit">
            <button type="button" class="btn btn-danger" ng-click="delete({param: employment.id})">Delete</button>
        </td>
    </tr>
</table>